<a href="https://colab.research.google.com/github/Alvin-Buana/Tourist-Recommendation/blob/main/Content_Based_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install opendatasets

Collecting opendatasets
  Downloading opendatasets-0.1.20-py3-none-any.whl (14 kB)
Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (from opendatasets) (1.5.12)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from opendatasets) (4.62.3)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from opendatasets) (7.1.2)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (1.24.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2.23.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (5.0.2)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (1.15.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2021.10.8)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle->opendatasets) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle->opendatasets) (2.10)
Installing collected packages: opendatasets
Successfully installed opendatasets-0.1.20

In [2]:
import opendatasets as od
od.download("https://www.kaggle.com/aprabowo/indonesia-tourism-destination")

Downloading indonesia-tourism-destination.zip to ./indonesia-tourism-destination

100%|██████████| 158k/158k [00:00<00:00, 18.6MB/s]

In [3]:
import pandas as pd
import numpy as np

In [4]:
data_rating = pd.read_csv('/content/indonesia-tourism-destination/tourism_rating.csv')
data_tourism = pd.read_csv('indonesia-tourism-destination/tourism_with_id.csv')

In [10]:
category=[]
place_tourism = data_tourism.copy()
place_tourism = place_tourism[['Place_Name','Category']]
category = list(data_tourism.Category.unique())


for x in category:
    place_tourism[x] = 0
for i in range(len(place_tourism.Category)):
        x = place_tourism.Category[i]
        place_tourism[x][i]=1
place_tourism = place_tourism.set_index('Place_Name')
place_tourism

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

                                                Category  ...  Tempat Ibadah
Place_Name                                                ...
Monumen Nasional                                  Budaya  ...              0
Kota Tua                                          Budaya  ...              0
Dunia Fantasi                              Taman Hiburan  ...              0
Taman Mini Indonesia Indah (TMII)          Taman Hiburan  ...              0
Atlantis Water Adventure                   Taman Hiburan  ...              0
...                                                  ...  ...            ...
Museum Mpu Tantular                               Budaya  ...              0
Taman Bungkul                              Taman Hiburan  ...              0
Taman Air Mancur Menari Kenjeran           Taman Hiburan  ...              0
Taman Flora Bratang Surabaya               Taman Hiburan  ...              0
Gereja Perawan Maria Tak Berdosa Surabaya  Tempat Ibadah  ...              1

[437 rows x 7 columns]

In [11]:
place_tourism = place_tourism.drop('Category',axis=1)
place_tourism = csr_matrix(place_tourism.values)

# Modelling

## Set the model function

In [17]:
def model(model,place):
  model_df = model(place_tourism)
  model_df = pd.DataFrame(model_df, index=data_tourism['Place_Name'], columns=data_tourism['Place_Name'])
  count = 5
  items=data_tourism[['Place_Name','Category','City','Rating','Price','Time_Minutes']]
  index = model_df.loc[:,place].to_numpy().argpartition(range(-1, -count, -1))
  closest = model_df.columns[index[-1:-(count+2):-1]]
  closest = closest.drop(place, errors='ignore')
  new_rec = pd.DataFrame(closest).merge(items).head(count)
  cat = data_tourism.Category[data_tourism['Place_Name']== place].iloc[0]
  where = data_tourism.City[data_tourism['Place_Name']== place].iloc[0]
  new_rec = new_rec.style.set_caption("Recommendation for {} (Category : {} ,Place : {})".format(place,cat,where))

  return new_rec

## Using Sigmoid Kernel

In [18]:
from sklearn.metrics.pairwise import sigmoid_kernel

place = data_tourism.Place_Name.sample(1).iloc[0]

test = model(sigmoid_kernel,place)
test

## Using Cosine Similarity

In [20]:
from sklearn.metrics.pairwise import cosine_similarity
place = data_tourism.Place_Name.sample(1).iloc[0]
test = model(cosine_similarity,place)
test

## Using Eucledian Distance

In [21]:
from sklearn.metrics.pairwise import euclidean_distances
place = data_tourism.Place_Name.sample(1).iloc[0]
test = model(euclidean_distances,place)
test